@charset "UFT-8";


body {
    margin: 0%; 
}

header {
    padding: 10px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: -1%;
}

header p {
    text-align: center;
}

fieldset {
    border: none;
    max-width: 600px;
    margin: auto;
}

div.campo {
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
    font-weight: bold;
    
}

div > label {
    font-family: Arial, Helvetica, sans-serif;
}

div.devweb {
    display: block;
    font-weight: normal;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button {
    margin-left: 110px;
}

button:hover {
    background-color: lightseagreen;
    color: lightskyblue;
}